<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-full py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
    >
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-auto">
            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"
            >
                Sign up
            </div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Already have an account?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']"
                    >Sign in
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>

            <!-- Sign Up form -->
            <form class="mt-8" [formGroup]="signUpForm">
                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>First Name</mat-label>
                    <input
                        id="first-name"
                        matInput
                        [formControlName]="'firstname'"
                        (input)="setUserName()"
                    />
                    <mat-error
                        *ngIf="signUpForm.get('firstname').hasError('required')"
                    >
                        First Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Last Name</mat-label>
                    <input
                        id="last-name"
                        matInput
                        [formControlName]="'lastname'"
                        (input)="setUserName()"
                    />
                    <mat-error
                        *ngIf="signUpForm.get('lastname').hasError('required')"
                    >
                        Last Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Username</mat-label>
                    <input
                        readonly
                        id="username"
                        matInput
                        [formControlName]="'username'"
                    />
                    <mat-error
                        *ngIf="signUpForm.get('username').hasError('maxlength')"
                    >
                        Usename should not exceed 15 characters
                    </mat-error>

                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    <mat-error
                        *ngIf="signUpForm.get('email').hasError('required')"
                    >
                        Email address is required
                    </mat-error>
                    <mat-error
                        *ngIf="signUpForm.get('email').hasError('email')"
                    >
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        ></mat-icon>
                    </button>
                    <mat-error
                        *ngIf="signUpForm.get('password').hasError('minlength')"
                    >
                        password should be at least 8 characters long
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('password').hasError('required')"> Password is required </mat-error>
                </mat-form-field>


                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6 bg-slate-700 text-white"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()"
                >
                    <span *ngIf="!signUpForm.disabled">
                        Create your free account
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
