<fuse-card
    *ngIf="isPrivate? (isloggedIn): true"
    (click)="onPostClick()"
    class="flex flex-col max-w-140 w-full filter-post ng-tns-c158-284 ng-star-inserted cursor-pointer hover:bg-slate-300 hover:text-black hover:border hover:border-slate-700"
>
    <div
        class="flex items-center mx-6 sm:mx-8 mt-6 mb-1 ng-tns-c158-284 ng-star-inserted"
    >
        <div class="flex flex-col">
            <span class="font-bold leading-none mb-2 text-2xl"
                >POST#{{ post.id }}</span
            >

            <span class="font-semibold leading-none mb-5 text-xl">{{
                username
            }}</span>
        </div>
    </div>

    <div class="mb-6 mx-6 sm:mx-8 ng-tns-c158-284 ng-star-inserted">
        <p class="text-lg">
            {{ post.title }}
        </p>
    </div>
</fuse-card>
