<div class="w-full flex flex-col items-center my-2">
    <p *ngIf="errorMessege === null ? false : true">{{ errorMessege }}</p>
    <app-post
        *ngFor="let post of postList"
        [post]="post"
        class="w-full flex justify-center my-2"
    ></app-post>
</div>
