<mat-accordion>
    <mat-expansion-panel hideToggle class="mx-auto max-w-140">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div
                    class="text-xl font-semibold ng-tns-c126-85 ng-star-inserted"
                >
                    Update Post
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mt-4 w-full flex justify-center">
            <fuse-card
                class="flex flex-col border-none rounded-none w-full shadow-none h-max"
            >
                <div
                    class="flex flex-col items-start ng-tns-c126-85 ng-star-inserted"
                >
                    <app-alart-box
                        [alartMessege]="alartMessege"
                        [alartType]="alartType"
                        *ngIf="showAlartMessege"
                    ></app-alart-box>
                    
                    <form
                        class="mt-8 w-full"
                        [formGroup]="postEditForm"
                        #postCreateNgForm="ngForm"
                    >
                        <mat-form-field
                            class="example-full-width w-full"
                            appearance="fill"
                        >
                            <mat-label>Title</mat-label>
                            <input
                                type="text"
                                matInput
                                [formControlName]="'title'"
                            />
                            <mat-error
                                *ngIf="
                                    postEditForm
                                        .get('title')
                                        .hasError('required')
                                "
                                class="text-rose-700"
                            >
                                title is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            class="mt-3 mat-form-field fuse-mat-textarea fuse-mat-no-subscript w-full ng-tns-c32-86 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float ng-star-inserted"
                            ><div class="mat-form-field-wrapper ng-tns-c32-86">
                                <div
                                    class="mat-form-field-infix ng-tns-c32-86 w-full"
                                >
                                    <textarea
                                        matInput
                                        matTextAreaAutoSize="true"
                                        class="w-120 mat-input-element mat-form-field-autofill-control ng-tns-c32-86 cdk-text-field-autofill-monitored"
                                        rows="8"
                                        placeholder="What's on your mind?"
                                        id="mat-input-0"
                                        data-placeholder="What's on your mind?"
                                        aria-invalid="false"
                                        aria-required="false"
                                        [formControlName]="'body'"
                                    ></textarea>
                                    <span
                                        class="mat-form-field-label-wrapper ng-tns-c32-86"
                                    ></span>
                                </div>
                            </div>
                        </mat-form-field>

                        <mat-form-field
                            appearance="fill"
                            class="example-full-width w-full mt-3"
                        >
                            <mat-label>Privacy</mat-label>
                            <mat-select
                                class="z-50"
                                [formControlName]="'privacy'"
                            >
                                <mat-option
                                    class="bg-slate-700 text-white z-50"
                                    *ngFor="let privacy of privacyList"
                                    [value]="privacy"
                                    >{{ privacy }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>
                    </form>
                </div>
                <button
                    mat-stroked-button
                    color="primary"
                    class="mt-5 rounded-md w-max hover:bg-slate-600 hover:text-white"
                    [disabled]="postEditForm.disabled"
                    (click)="onUpdateButtonClick()"
                >
                    <span *ngIf="!postEditForm.disabled"> Update </span>
                    <mat-progress-spinner
                        *ngIf="postEditForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </fuse-card>
        </div>
    </mat-expansion-panel>
</mat-accordion>
