<div
    class="px-56 bg-slate-800 text-fuchsia-50 relative flex flex-0 justify-between items-center w-full h-16 sm:h-20 z-49 shadow dark:shadow-none dark:border-b dark:bg-transparent print:hidden"
>
    <div class="flex">
        <div class="flex items-center mx-2 lg:mr-8">
            <button class="flex items-center  hover:font-bold text-xl ml-1" [routerLink]="'./'" routerLinkActive="font-extrabold">
                <mat-icon class="mr-2">home</mat-icon>
                <span >HOME</span>
            </button>
        </div>
        <div class="flex items-center mx-2 lg:mr-8" *ngIf="isLoggedIn">
            <button class="flex items-center hover:font-bold text-xl ml-1" [routerLink]="'./posts/create'" routerLinkActive="font-extrabold">
                <span >CREATE POST</span>
            </button>
        </div>
    </div>
    <!-- Navigation toggle button -->

    <!-- Components -->
    <div class="flex items-center  ">
        <div class="w-full flex mr-2" *ngIf="!isLoggedIn">
            <button
                class=" hover:font-bold text-xl flex items-center mr-3"
                [routerLink]="'../sign-in'"
                routerLinkActive="font-extrabold"
            >
                <mat-icon class="mr-2">login</mat-icon>
                <span>SIGN IN</span>
            </button>
            <button
                class=" hover:font-bold text-xl flex items-center ml-3"
                [routerLink]="'../sign-up'"
                routerLinkActive="font-extrabold"
            >
                <mat-icon class="mr-2">app_registration</mat-icon>
                <span>SIGN UP</span>
            </button>
        </div>
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
            class="text-3xl"
            *ngIf="isLoggedIn"
        >
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu class="bg-slate-700 text-fuchsia-50 text-xl" #menu="matMenu">
            <button
                class="hover:bg-slate-600"
                mat-menu-item
                [routerLink]="'../profile'"
            >
                <mat-icon>person</mat-icon>
                <span>PROFILE</span>
            </button>

            <button
                class="hover:bg-slate-600"
                mat-menu-item
                [routerLink]="'../sign-out'"
            >
                <mat-icon>logout</mat-icon>
                <span>SIGN OUT</span>
            </button>
        </mat-menu>
    </div>
</div>
