<div class="w-full flex flex-col items-center justify-start">
    <fuse-card
        class="my-6 h-fit flex flex-col max-w-140 w-full filter-post ng-tns-c158-284 ng-star-inserted"
    >
        <div
            class="flex items-center mx-6 sm:mx-8 mt-6 mb-1 ng-tns-c158-284 ng-star-inserted"
        >
            <div class="flex flex-col">
                <span class="font-bold leading-none text-3xl">{{
                    this.postOwnerName
                }}</span>
            </div>
        </div>

        <div class="mb-6 mx-6 sm:mx-8 ng-tns-c158-284 ng-star-inserted">
            <p class="text-lg font-semibold mt-6 mb-2">
                {{ this.post?.title }}
            </p>
            <p class="text-lg">
                {{ this.post?.body }}
            </p>
        </div>
    </fuse-card>

    <div *ngIf="editSectionVisibility" class="w-full h-max">
        <app-post-edit [post]="post"></app-post-edit>
    </div>
    <button
        *ngIf="editSectionVisibility"
        mat-button
        color="warn"
        class="my-6 text-red-800 px-60 py-4 rounded-md font-bold text-lg border-red-500 border-solid border-2 hover:bg-red-500 hover:text-white"
        (click)="onDeletePost()"
    >
        <mat-icon class="hover:bg-white">delete</mat-icon>
        Delete
    </button>
</div>
