<div class="bg-white text-slate-600 px-10 py-8 rounded-md">
    <h1 mat-dialog-title class="text-green-800" [ngClass]="
                messegeType === 'error'
                    ? 'text-red-800'
                    : 'text-green-800'
            ">{{ title }}</h1>
    <div mat-dialog-content>{{ messege }}</div>
    <div mat-dialog-actions>
        <button
            class="rounded-md hover:text-white"
            [ngClass]="
                messegeType === 'error'
                    ? 'hover:bg-red-600'
                    : 'hover:bg-green-600'
            "
            mat-button
            mat-dialog-close
        >
            Close
        </button>
    </div>
</div>
