<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-full py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
    >
        <div
            class="w-full flex justify-center items-center max-w-80 sm:w-80 mx-auto sm:mx-auto"
        >
            <div class="min-w-50 mb-10 min-h-50 flex-2 mr-20">
                <img
                    class="w-[200px] h-[200px] rounded-[200px]"
                    [src]="avatarURL"
                    *ngIf="avatarURL === null ? false : true"
                    alt="avatar-img"
                />
            </div>

            <div>
                <!-- Title -->
                <div
                    class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"
                >
                    Personal Info
                </div>

                <!-- Alert -->
                <app-alart-box
                    [alartMessege]="alartMessege"
                    [alartType]="alartType"
                    *ngIf="showAlartMessege"
                ></app-alart-box>


                <!-- Profile form -->
                <form class="mt-8" [formGroup]="profileFormGroup">
                    <!-- Name field -->

                    <div class="flex">
                        <mat-form-field class="w-full">
                            <mat-label>First Name</mat-label>
                            <input
                                id="first-name"
                                matInput
                                [formControlName]="'firstname'"
                                (input)="onUpdateUsername()"
                            />
                            <mat-error
                                class="text-red-600"
                                *ngIf="
                                    this.profileFormGroup
                                        .get('firstname')
                                        .hasError('required')
                                "
                            >
                                First Name is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full">
                            <mat-label>Last Name</mat-label>
                            <input
                                id="last-name"
                                matInput
                                [formControlName]="'lastname'"
                                (input)="onUpdateUsername()"
                            />
                            <mat-error
                                class="text-red-600"
                                *ngIf="
                                    this.profileFormGroup
                                        .get('lastname')
                                        .hasError('required')
                                "
                            >
                                Last Name is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field class="w-full">
                        <mat-label>Username</mat-label>
                        <input
                            readonly
                            id="username"
                            matInput
                            [formControlName]="'username'"
                        />
                        <mat-error
                            class="text-red-600"
                            *ngIf="
                                this.profileFormGroup
                                    .get('username')
                                    .hasError('maxlength')
                            "
                        >
                            Usename should not exceed 15 characters
                        </mat-error>
                    </mat-form-field>

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>Email address</mat-label>
                        <input
                            id="email"
                            matInput
                            [formControlName]="'email'"
                            readonly
                        />
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Location</mat-label>
                        <input
                            id="location"
                            matInput
                            [formControlName]="'location'"
                        />
                    </mat-form-field>

                    <mat-form-field
                        appearance="fill"
                        class="example-full-width w-full"
                    >
                        <mat-label>Country</mat-label>
                        <mat-select
                            class="z-50"
                            [formControlName]="'country'"
                            [placeholder]="
                                currentUser !== null
                                    ? currentUser.country
                                    : 'none'
                            "
                        >
                            <mat-option
                                class="bg-slate-700 text-white z-50"
                                [value]="this.currentUser?.country"
                            >
                                {{ this.currentUser?.country }}
                            </mat-option>
                            <mat-option
                                class="bg-slate-700 text-white z-50"
                                *ngFor="let country of countries"
                                [value]="country.name"
                                >{{ country.name }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>

                    <mat-label class="mb-3">Phone Number</mat-label>
                    <div class="flex items-center">
                        <mat-form-field appearance="fill">
                            <mat-select
                                class="z-50"
                                [formControlName]="'dialCode'"
                            >
                                <mat-option
                                    class="bg-slate-700 text-white z-50"
                                    [value]="this.currentUser?.dialCode"
                                >
                                    {{ this.currentUser?.dialCode }}
                                </mat-option>
                                <mat-option
                                    class="bg-slate-700 text-white z-50"
                                    *ngFor="let country of countries"
                                    [value]="country.dial_code"
                                    >{{
                                        country.code +
                                            " (" +
                                            country.dial_code +
                                            ")"
                                    }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field
                            class="example-full-width w-full"
                            appearance="fill"
                        >
                            <input
                                id="phoneNumber"
                                [placeholder]="currentUser?.phoneNumber"
                                type="tel"
                                matInput
                                [formControlName]="'phoneNumber'"
                            />
                        </mat-form-field>
                    </div>

                    <mat-error
                        class="text-red-600"
                        *ngIf="
                            this.profileFormGroup
                                .get('phoneNumber')
                                .hasError('maxlength') ||
                            this.profileFormGroup
                                .get('phoneNumber')
                                .hasError('minlength')
                        "
                    >
                        phone number must contain 10 digits
                    </mat-error>

                    <mat-label>Profile Image</mat-label>
                    <input
                        class="mt-1"
                        id="avatar"
                        [placeholder]=""
                        type="file"
                        (change)="onAvatarInputChange($event)"
                    />

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6 mat-focus-indicator bg-slate-700 text-white"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="profileFormGroup.disabled"
                        (click)="onUpdateButtonClick()"
                    >
                        <span *ngIf="!profileFormGroup.disabled">
                            Update Profile
                        </span>
                        <mat-progress-spinner
                            *ngIf="profileFormGroup.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
